</div>
<div style="display:none;" {{ block.shopify_attributes }}></div> ```

**Schema to add to Container Section:**
```json
{
  "type": "row_end",
  "name": "🔴 Inner Container END",
  "settings": [] 
}